---
import Layout from "../../../layouts/Layout.astro";
import services from "../../../data/services";
import locations from "../../../data/locations";

export async function getStaticPaths() {
  const paths = [];

  for (const serviceSlug of Object.keys(services)) {
    for (const locationSlug of Object.keys(locations)) {
      paths.push({
        params: {
          service: serviceSlug,
          location: locationSlug
        }
      });
    }
  }

  return paths;
}

const { service: serviceSlug, location: locationSlug } = Astro.params;

const service = services[serviceSlug];
const location = locations[locationSlug];

if (!service || !location) {
  throw new Error("Invalid route");
}
---

<Layout
  title={`${service.name} in ${location.name} | CamCleans`}
  description={`Book ${service.name.toLowerCase()} in ${location.name}. Clear scope, vetted cleaners, fast availability.`}
  canonicalPath={`/services/${serviceSlug}/${locationSlug}`}
>
  <main>
    ...
  </main>
</Layout>